@import "./common.css";

.page-title {
  font-size: 1.5rem;
  color: gray;
  grid-area: 1/2/1/2;
}

.blog-menu {
  display: grid;
  grid-auto-rows: minmax(30vh, auto);
  grid-gap: 15px;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: 2/2/2/2;
}

.blog-txt {
  grid-area: 3/2/3/2;
}

.page-grid {
  display: grid;
  grid-template-columns: 30vh 1fr 30vh;
  grid-auto-rows: minmax(15vh, auto);
}

.blog-image {
  height: 40vh;
}

.author-card {
  display: flex;
  grid-area: 2/3/2/3;
  border-radius: 10px;
  height: fit-content;
  width: 30vh;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

.author-card-name {
  font-size: 1em;
  text-decoration: underline;
}

.author-information {
  font-size: 0.8em;
}

.blog-avatar {
  width: 25%;
}
