@media (min-width: 320px) and (max-width: 900px) {
    .page-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(15vh, auto);
      }

      .author-card {
        grid-area: 4/1/4/1 ;
        width: 50vw;
      }

      .introduction {
          grid-area: 2/1/2/1;
      }

      .blog-txt {
        grid-area: 3/1/3/1;
      }

      .page-title {
        font-size: 1.5rem;
        color: gray;
        grid-area: 1/1/1/1;
      }

      .nav-list {
        flex-direction: column;
      }

}