.sidebar {
  background-color: #d57e7e;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 1.3em;
  color: white;
}

.blog-title {
  font-size: 0.9em;
}

.blogs-heading {
  font-size: 1.5rem;
}

.blog-menu {
  display: flex;
  flex-direction: column;
}

.post {
  border: 1px solid white;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 3px;
  width: 80%;
  height: 10vh;
}

.img-post {
  width: 95%;
  height: fit-content;
}

a.button1 {
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  font-weight: 300;
  font-size: 0.7rem;
}
