body {
  font-size: 16px;
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.page-title {
  font-size: 1.5rem;
  color: gray;
  grid-area: 1/2/1/2;
}

.page-main-title {
  margin-bottom: 0px;
}

.page-subtitle
{
  margin-top: 0px;
  font-size: 0.6em;
}

.blog-menu {
  display: grid;
  grid-auto-rows: minmax(30vh, auto);
  grid-gap: 15px;
}

.post {
  border: 1px solid white;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 3px;
}

.blog-title {
  font-size: 0.9em;
}

.blogs-heading {
  font-size: 1.5em;
}

#post1 {
  background-image: url("images/Tree.jpeg");
  background-size: cover;
  height: 22vh;
}

#post2 {
  background-image: url("images/graph.jpeg");
  background-size: cover;
  height: 28vh;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: 2/2/2/2;
}

.blog-txt {
  grid-area:3/2/3/2;
}

.main {
  padding: 5px 5px 5px 5px;
  background-color: #ffe1af;
}

.sidebar {
  background-color: #d57e7e;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 1.3em;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 35vh 1fr;
  grid-template-rows: 1fr;
}

.page-grid {
  display: grid;
  grid-template-columns: 30vh 1fr 30vh;
  grid-auto-rows: minmax(15vh, auto);
}

.blog-image {
  height: 40vh;
}

.author-card {
  display: flex;
  grid-area: 2/3/2/3;
  border-radius: 10px;
  height: fit-content;
  width: 30vh;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

.author-card-name {
  font-size: 1em;
  text-decoration: underline;
}

.author-information {
  font-size: 0.8em;
}

.blog-avatar {
  width: 25%;
}




.header {
  background-color: #a2cdcd;
  height: 5vh;
  padding-top: 1vh;
}

.footer {
    display: flex;
    background-color: rgba(0,0,0,0.8);
    height: 5vh;
    padding-top: 1vh;
    justify-content: flex-end;
    align-items: center;
    color: white;
    padding-right: 3%;
  }

a.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  font-size: 0.7em;
}

a.button2 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: none;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.3em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    /*color: #f5f5f7;*/
    color: white;
    text-align: center;
    transition: all 0.2s;
    font-size: 1.1em;
  }

a.button1:hover {
  color: #000000;
  background-color: #ffffff;
}

a.button2:hover {
    color: #000000;
    background-color: #ffffff;
  }


.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-list-buttons {
display: flex;
  list-style: none;
  margin-top: 0px;
  flex-direction: row;
  justify-content:flex-end;
  column-gap: 2vw;
}

.nav-list-buttons a {
    text-decoration: none;
    color: white;
}

.nav-list-buttons a:hover {
  color: black;
}

.nav-list-icons {
  padding-top: 7px;
}
